Project: Web Scraping Challenge  
Name: Jodi Heen  
Goal: Using Beautiful Soup, scrape a website for desired content, load results into a Mongo Database, and show active results using a Flask App dashboard.

In [44]:
# Import Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
import pandas as pd

In [3]:
# activate chromedriver
!which chromedriver

/usr/local/bin/chromedriver

In [19]:
# Establish the path and browser connection
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [15]:
# Initial url to visit
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [16]:
browser.visit(url)

In [33]:
# Fetch the first headline and paragraph visible below it
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

list_item = soup.select_one('ul.item_list li.slide')

news_title = list_item.find('div', class_='content_title')

print(news_title.text)

teaser = list_item.find('div', class_='article_teaser_body')

print(teaser.text)

How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus
Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.

In [92]:
# Featured Images
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [177]:
# Initial URL
browser.visit(image_url)

In [178]:
# Clicking "Full Image" button
footer = browser.find_by_tag('footer')
within_footer = footer.find_by_tag('a').click()

In [179]:
# Clicking "more info" button
more_info = browser.find_by_id('fancybox-lock')
a_tag = more_info.find_by_tag('a')[4].click()

In [180]:
# Clicking the image for full size
div = browser.find_by_id('page')
section = div.find_by_tag('section')
jpg_image = section.find_by_tag('img').click()

In [181]:
# Print browser url to check it
browser.url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17761_hires.jpg'

In [182]:
# Save this to a variable
featured_jpg_img = browser.url

In [183]:
# Print this so that it's available
print(featured_jpg_img)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17761_hires.jpg

In [20]:
# Mars Weather via Twitter
mars_wth = 'https://twitter.com/marswxreport?lang=en'

In [21]:
browser.visit(mars_wth)

In [27]:
# div = browser.find_by_tag('main')
# section = div.find_by_tag('span')
main_content = soup.find('main', attrs = {'class': 'span'})
print(main_content)
# jpg_image = section.find_by_tag('img').click()

None

In [35]:
url = 'https://twitter.com/marswxreport?lang=en'

In [38]:
browser = webdriver.Chrome()
browser.get(url)

In [39]:
main = browser.find_element_by_tag_name('main')

In [40]:
tweet = browser.find_elements_by_class_name('span')

In [43]:
print(tweet)

[]

In [45]:
# Mars Facts
mfacts_url = 'https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States'

In [46]:
mars_tables = pd.read_html(mfacts_url)
mars_tables

[    0                                                  1
 0 NaN  This section may require cleanup to meet Wikip...,
              State Abr. State-hood         Capital Capital since Area (mi²)  \
              State Abr. State-hood         Capital Capital since Area (mi²)
 0          Alabama   AL       1819      Montgomery          1846     159.80
 1           Alaska   AK       1959          Juneau          1906    2716.70
 2          Arizona   AZ       1912         Phoenix          1889     517.60
 3         Arkansas   AR       1836     Little Rock          1821     116.20
 4       California   CA       1850      Sacramento          1854      97.90
 5         Colorado   CO       1876          Denver          1867     153.30
 6      Connecticut   CT       1788        Hartford          1875      17.30
 7         Delaware   DE       1787           Dover          1777      22.40
 8          Florida   FL       1845     Tallahassee          1824      95.70
 9          Georgia   GA       1788         Atlanta          1868     133.50
 10          Hawaii   HI       1959        Honolulu          1845      68.40
 11           Idaho   ID       1890           Boise          1865      63.80
 12        Illinois   IL       1818     Springfield          1837      54.00
 13         Indiana   IN       1816    Indianapolis          1825     361.50
 14            Iowa   IA       1846      Des Moines          1857      75.80
 15          Kansas   KS       1861          Topeka          1856      56.00
 16        Kentucky   KY       1792       Frankfort          1792      14.70
 17       Louisiana   LA       1812     Baton Rouge          1880      76.80
 18           Maine   ME       1820         Augusta          1832      55.40
 19        Maryland   MD       1788       Annapolis          1694       6.73
 20   Massachusetts   MA       1788          Boston          1630      89.60
 21        Michigan   MI       1837         Lansing          1847      35.00
 22       Minnesota   MN       1858      Saint Paul          1849      52.80
 23     Mississippi   MS       1817         Jackson          1821     104.90
 24        Missouri   MO       1821  Jefferson City          1826      27.30
 25         Montana   MT       1889          Helena          1875      14.00
 26        Nebraska   NE       1867         Lincoln          1867      74.60
 27          Nevada   NV       1864     Carson City          1861     143.40
 28   New Hampshire   NH       1788         Concord          1808      64.30
 29      New Jersey   NJ       1787         Trenton          1784       7.66
 30      New Mexico   NM       1912        Santa Fe          1610      37.30
 31        New York   NY       1788          Albany          1797      21.40
 32  North Carolina   NC       1789         Raleigh          1792     114.60
 33    North Dakota   ND       1889        Bismarck          1883      26.90
 34            Ohio   OH       1803        Columbus          1816     210.30
 35        Oklahoma   OK       1907   Oklahoma City          1910     620.30
 36          Oregon   OR       1859           Salem          1855      45.70
 37    Pennsylvania   PA       1787      Harrisburg          1812       8.11
 38    Rhode Island   RI       1790      Providence          1900      18.50
 39  South Carolina   SC       1788        Columbia          1786     125.20
 40    South Dakota   SD       1889          Pierre          1889      13.00
 41       Tennessee   TN       1796       Nashville          1826     525.90
 42           Texas   TX       1845          Austin          1839     305.10
 43            Utah   UT       1896  Salt Lake City          1858     109.10
 44         Vermont   VT       1791      Montpelier          1805      10.20
 45        Virginia   VA       1788        Richmond          1780      60.10
 46      Washington   WA       1889         Olympia          1853      16.70
 47   West Virginia   WV       1863      Charleston          1885      31.60
 48       Wisconsin   WI       1848         Madison          1838      68.70
 49         Wyoming   WY       1890        Cheyenne          1869      21.10

    Population (2018)                                        \
                 City Metropolitan Rank in state Rank in US
 0             198218     373903.0             2      119.0
 1              31275          NaN             3        NaN
 2            1660272    4857962.0             1        5.0
 3             193524     699757.0             1      117.0
 4             508529    2345210.0             6       35.0
 5             716492    2932415.0             1       19.0
 6             124775    1212381.0             3      199.0
 7              36047     162310.0             2        NaN
 8             181376     367413.0             7      125.0
 9             498044    5949951.0             1       37.0
 10            359870     953207.0             1       56.0
 11            205671     616561.0             1      103.0
 12            116250     210170.0             6      221.0
 13            867125    2004230.0             1       16.0
 14            203433     569633.0             1      105.0
 15            127473     230870.0             4      193.0
 16             25527      70758.0            14        NaN
 17            225374     830480.0             2       99.0
 18             19136     117114.0             8        NaN
 19             38394          NaN             7        NaN
 20            694583    4628910.0             1       21.0
 21            114297     464036.0             5      226.0
 22            285068    3348659.0             2       67.0
 23            173514     567122.0             1      134.0
 24             43079     149807.0            15        NaN
 25             28190      74801.0             6        NaN
 26            258379     302157.0             2       72.0
 27             55274          NaN             6        NaN
 28             42695     146445.0             3        NaN
 29             84913     366513.0            10        NaN
 30             75764     183732.0             4        NaN
 31             97856     857592.0             6        NaN
 32            403892    1130490.0             2       43.0
 33             61272     108779.0             2        NaN
 34            892553    2078725.0             1       14.0
 35            649021    1396445.0             1       27.0
 36            154637     390738.0             3      149.0
 37             49528     647390.0             9        NaN
 38            178042    1600852.0             1      130.0
 39            129272     767598.0             2      191.0
 40             13646          NaN             8        NaN
 41            691243    1903045.0             1       24.0
 42            964254    2168316.0             4       11.0
 43            186440    1087873.0             1      124.0
 44              7855          NaN             6        NaN
 45            204214    1208101.0             4      104.0
 46             46478     234670.0            24        NaN
 47             51400     304214.0             1        NaN
 48            258054     659726.0             2       81.0
 49             59466      91738.0             1        NaN

                                                 Notes
                                                 Notes
 0                                                 NaN
 1             Largest capital by municipal land area.
 2                      Largest capital by population.
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7      Longest-serving capital in terms of statehood.
 8                                                 NaN
 9    Largest capital by metropolitan area population.
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                     Smallest capital by land area.
 20              Longest continuously serving capital.
 21                                                NaN
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                                NaN
 29                                                NaN
 30                           Longest-serving capital.
 31                                                NaN
 32                                                NaN
 33                                                NaN
 34                                                NaN
 35            Shortest-serving current state capital.
 36                                                NaN
 37                                                NaN
 38                                                NaN
 39                                                NaN
 40                                                NaN
 41                                                NaN
 42  Largest capital by population to not be the mo...
 43                                                NaN
 44                    Smallest capital by population.
 45                                                NaN
 46                                                NaN
 47  Smallest capital by population to also be the ...
 48                                                NaN
 49                                                NaN  ,
                Insular area Abr.  Date           Capital  Population (2010)  \
 0            American Samoa   AS  1899         Pago Pago               3656
 1                      Guam   GU  1898           Hagåtña               1051
 2  Northern Mariana Islands   MP  1947            Saipan              48220
 3               Puerto Rico   PR  1898          San Juan             395326
 4       U.S. Virgin Islands   VI  1917  Charlotte Amalie              18481

                                                Notes
 0  Pago Pago refers to both a village and a group...
 1              Dededo is the area's largest village.
 2                                                NaN
 3  The city of San Juan was originally called Pue...
 4                                                NaN  ,
                               State        Capital  Date  \
 0      Alabama[17]Statehood in 1819    San Agustín  1565
 1      Alabama[17]Statehood in 1819       Savannah  1733
 2      Alabama[17]Statehood in 1819       Savannah  1755
 3      Alabama[17]Statehood in 1819       Savannah  1776
 4      Alabama[17]Statehood in 1819   Augusta (GA)  1778
 ..                              ...            ...   ...
 468  Wisconsin[51]Statehood in 1848        Madison  1848
 469    Wyoming[52]Statehood in 1890  Lewiston (ID)  1863
 470    Wyoming[52]Statehood in 1890   Yankton (SD)  1864
 471    Wyoming[52]Statehood in 1890       Cheyenne  1869
 472    Wyoming[52]Statehood in 1890       Cheyenne  1890

                                                  Notes
 0     Capital of the Spanish colony of La Florida.[18]
 1    Capital of the British proprietary Colony of G...
 2          Capital of the British Province of Georgia.
 3                    Capitals of the State of Georgia.
 4                    Capitals of the State of Georgia.
 ..                                                 ...
 468                 Capital of the State of Wisconsin.
 469                 Capital of the Territory of Idaho.
 470                Capital of the Territory of Dakota.
 471               Capital of the Territory of Wyoming.
 472                   Capital of the State of Wyoming.

 [473 rows x 4 columns],
     vteCapitals of the United States by jurisdiction  \
 0  Nation: US Washington States: AL Montgomery AK...

   vteCapitals of the United States by jurisdiction.1
 0  Nation: US Washington States: AL Montgomery AK...  ,
                  vteUnited States state-related lists  \
 0   List of states and territories of the United S...
 1                                        Demographics
 2                                             Economy
 3                                         Environment
 4                                           Geography
 5                                          Government
 6                                              Health
 7                                             History
 8                                                 Law
 9                                       Miscellaneous
 10                         Category  Commons  Portals

                vteUnited States state-related lists.1
 0   List of states and territories of the United S...
 1   Population African American Amish Asian Birth ...
 2   Billionaires Budgets Companies Credit ratings ...
 3   Botanical gardens Carbon dioxide emissions Par...
 4   Area Bays Beaches Coastline Elevation Extreme ...
 5   Agriculture commissioners Attorneys general Ca...
 6   Fertility rates Hospitals Human Development In...
 7   Date of statehood Name etymologies Historical ...
 8   Abortion Age of consent Alcohol Dry communitie...
 9   Abbreviations Airports Bus transit systems Cas...
 10                         Category  Commons  Portals  ,
   vteLocation of the capital of the United States  \
 0                              Temporary capitals
 1                               Permanent capital

    vteLocation of the capital of the United States.1
 0  Philadelphia (1776; 1777; 1778–1783; 1791–1800...
 1                      Washington, D.C. (since 1800)  ]

In [ ]:
mfacts_df =